<!-- Contacts section -->
<section class="contacts-section section" id="contacts">
  <div class="container contacts-container">
    <h2 class="contacts-tittle">Fresh Harvest Box has got you covered</h2>
    <ul class="contacts-list list">
      <li class="contacts-image-item">
        <picture>
          <source
            srcset="
              ./img/contacts/contacts-melon-desc@1x.webp 1x,
              ./img/contacts/contacts-melon-desc@2x.webp 2x
            "
            media="(min-width: 1280px)"
            type="image/webp"
          />
          <source
            srcset="
              ./img/contacts/contacts-melon-desc@1x.jpg 1x,
              ./img/contacts/contacts-melon-desc@2x.jpg 2x
            "
            media="(min-width: 1280px)"
            type="image/jpg"
          />
          <source
            srcset="
              ./img/contacts/contacts-melon-tablet@1x.webp 1x,
              ./img/contacts/contacts-melon-tablet@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./img/contacts/contacts-melon-tablet@1x.jpg 1x,
              ./img/contacts/contacts-melon-tablet@2x.jpg 2x
            "
            media="(min-width: 768px)"
            type="image/jpg"
          />
          <source
            srcset="
              ./img/contacts/contacts-melon-mobile@1x.webp 1x,
              ./img/contacts/contacts-melon-mobile@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./img/contacts/contacts-melon-mobile@1x.jpg 1x,
              ./img/contacts/contacts-melon-mobile@2x.jpg 2x
            "
            media="(max-width: 767px)"
            type="image/jpg"
          />
          <img
            class="contacts-image-melon"
            src="./img/contacts/contacts-melon-mobile@1x.jpg"
            alt="melon"
            width="335"
            height="476"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="contacts-image-item">
        <picture>
          <source
            srcset="
              ./img/contacts/contacts-blueberry-desc@1x.webp 1x,
              ./img/contacts/contacts-blueberry-desc@1x.webp 2x
            "
            media="(min-width: 1280px)"
            type="image/webp"
          />
          <source
            srcset="
              ./img/contacts/contacts-blueberry-desc@1x.jpg 1x,
              ./img/contacts/contacts-blueberry-desc@1x.jpg 2x
            "
            media="(min-width: 1280px)"
            type="image/jpg"
          />
          <source
            srcset="
              ./img/contacts/contacts-blueberry-tablet@1x.webp 1x,
              ./img/contacts/contacts-blueberry-tablet@1x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./img/contacts/contacts-blueberry-tablet@1x.jpg 1x,
              ./img/contacts/contacts-blueberry-tablet@1x.jpg 2x
            "
            media="(min-width: 768px)"
            type="image/jpg"
          />
          <img
            class="contacts-image-blueberry"
            src="./img/contacts/contacts-blueberry-tablet@1x.jpg"
            alt="blueberry"
            width="344"
            height="480"
            loading="lazy"
          />
        </picture>
      </li>
    </ul>
    <div class="contacts-info-block">
      <p class="contacts-text-info">
        Our boxes are packed with delicious, nutritious fruits and vegetables,
        perfect for anyone looking to eat healthier or support local farmers.
        Order your box today and start enjoying the best that nature has to
        offer!
      </p>
      <form class="thank-form">
        <div class="contacts-feedback">
          <input
            class="feedback-email"
            type="email"
            pattern="[^@\s]+@[^@\s]+\.[^@\s]+"
            name="email"
            id="email"
            placeholder="Enter email..."
            required
          />
          <button class="contacts-button" type="submit">Send</button>
        </div>
      </form>
    </div>
  </div>
</section>
