<!-- Footer section -->

<footer class="footer-section">
    <ul>
        <li>
          <div>
            <img
              srcset="./images/footet girl with bananas.jpg 1x, ./images/footer girl with bananas@2x 2x"
              src="./images/footet girl with bananas.jpg"
              alt="photo girl with bananas"
              width="335"
              height="172"
            />
            <a
              class="social-link link"
              href=""
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Logo icon"
            >
              <svg class="logo-svg" width="16" height="16">
                <use href="./images/icon.svg#icon-logo"></use>
              </svg>
              <span class="text-logo-color">fresh harvest box</span>
            </a>
          </div>
          <ul class="anchor menu">
            <li>
              <a href="">How It Works</a>
            </li>
            <li>
              <a href="">Fruits</a>
            </li>
            <li>
              <a href="">Contacts</a>
            </li>
          </ul>
        </li>
  
        <li>
          <ul>
            <li>
              <a
                class="social-link link"
                href=""
                target="_blank"
                rel="noopener noreferrer"
                aria-label="Facebook icon"
              >
                <svg class="socials-svg" width="28" height="28">
                  <use href="./images/icon.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li>
              <a
                class="social-link link"
                href=""
                target="_blank"
                rel="noopener noreferrer"
                aria-label="Instagram icon"
              >
                <svg class="socials-svg" width="28" height="28">
                  <use href="./images/icon.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li>
              <a
                class="social-link link"
                href=""
                target="_blank"
                rel="noopener noreferrer"
                aria-label="Youtube icon"
              >
                <svg class="socials-svg" width="28" height="28">
                  <use href="./images/icon.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
          </ul>
          <a href="+380684439426">
            +380 (68) 443-94-26
          </a>
          <a>
            1678 S. Pioneer Road<br />Salt Lake City UT<br />84104
          </a>
        </li>
      </ul>
</footer>
