<!-- Footer section -->

<footer class="footer-section">
    <div class="foter-list">
          <div class="rooter-photo-and-logo">
            <img
              srcset="./img/footer/girl.jpg 1x, ./img/footer/girl@2x.jpg 2x"
              src="./img/footer/girl.jpg"
              alt="photo girl with bananas"
            />
            <a
              class="footer-logo-link link"
              href=""
              rel="noopener noreferrer"
              aria-label="Logo icon"
            >
              <svg class="footer-logo-svg" width="16" height="16">
                <use href="./img/icons.svg#icon-logo"></use>
              </svg>
              <span class="footer-text-logo-color">fresh harvest box</span>
            </a>
          </div>
          <ul class="footer-anchor-menu list">
            <li>
              <a class="link" href="#">How It Works</a>
            </li>
            <li>
              <a class="link" href="#">Fruits</a>
            </li>
            <li>
              <a class="link" href="#">Contacts</a>
            </li>
          </ul>

          <ul class="list">
            <li>
              <a
                class="footer-social-link link"
                href="https://www.facebook.com/"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="Facebook icon"
              >
                <svg class="footer-socials-svg" width="28" height="28">
                  <use href="./img/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li>
              <a
                class="footer-social-link link"
                href="https://www.instagram.com/"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="Instagram icon"
              >
                <svg class="footer-socials-svg" width="28" height="28">
                  <use href="./img/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li>
              <a
                class="footer-social-link link"
                href="https://www.youtube.com/"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="Youtube icon"
              >
                <svg class="footer-socials-svg" width="28" height="28">
                  <use href="./img/icons.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
          </ul>
          <a class="link" href="tel:+380684439426">
            +380 (68) 443-94-26
          </a>
          <a class="link">
            1678 S. Pioneer Road<br />Salt Lake City UT<br />84104
          </a>
    </div>
</footer>