<!-- Footer section -->

<footer class="footer-section">
    <ul class="foter-list">
        <li>
          <div class="photo-and-logo">
            <img
              srcset="./img/footer/girl.jpg 1x, ./img/footer/girl@2x.jpg 2x"
              src="./img/footer/girl.jpg"
              alt="photo girl with bananas"
            />
            <a
              class="footer-logo-link link"
              href=""

              rel="noopener noreferrer"
              aria-label="Logo icon"
            >
              <svg class="logo-svg" width="16" height="16">
                <use href="./img/icons.svg#icon-logo"></use>
              </svg>
              <span class="text-logo-color">fresh harvest box</span>
            </a>
          </div>
          <ul class="anchor menu">
            <li>
              <a href="#">How It Works</a>
            </li>
            <li>
              <a href="#">Fruits</a>
            </li>
            <li>
              <a href="#">Contacts</a>
            </li>
          </ul>
        </li>
  
        <li>
          <ul>
            <li>
              <a
                class="social-link link"
                href="https://www.facebook.com/"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="Facebook icon"
              >
                <svg class="socials-svg" width="28" height="28">
                  <use href="./img/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li>
              <a
                class="social-link link"
                href="https://www.instagram.com/"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="Instagram icon"
              >
                <svg class="socials-svg" width="28" height="28">
                  <use href="./img/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li>
              <a
                class="social-link link"
                href="https://www.youtube.com/"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="Youtube icon"
              >
                <svg class="socials-svg" width="28" height="28">
                  <use href="./img/icons.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
          </ul>
          <a href="+380684439426">
            +380 (68) 443-94-26
          </a>
          <a>
            1678 S. Pioneer Road<br />Salt Lake City UT<br />84104
          </a>
        </li>
      </ul>
</footer>