<!-- Fruits section -->

<section class="fruits-section section" id="fruits">
  <div class="container">
    <h2 class="fruits-tittle">ORGANIC FRUITS</h2>
    <p class="fruits-text">
      Our organic fruits are hand-picked from local farms and delivered straight
      to your doorstep, ensuring that you get the freshest and most nutritious
      produce possible. We offer a wide selection of organic fruits grown
      without the use of harmful pesticides or chemicals.
    </p>
    <ul class="fruits-list list">
      <li class="fruits-item color-wrap-strawberry">
        <h3 class="fruits-item-title">Strawberry</h3>
        <p class="fruits-item-text">Plant</p>
        <picture>
          <source
            srcset="
              ./img/fruits/fruits-strawberry@1x.webp 1x,
              ./img/fruits/fruits-strawberry@2x.webp 2x
            "
            type="image/webp"
          >
          <source
            srcset="
              ./img/fruits/fruits-strawberry@1x.png 1x,
              ./img/fruits/fruits-strawberry@2x.png 2x
            "
            type="image/png"
          >
          <img
            class="fruits-image"
            src="./img/fruits/fruits-strawberry@1x.png"
            alt="strawberry picture"
            width="295"
            height="251"
            loading="lazy"
          >
        </picture>
        <span class="fruits-price-text"> 100 UAH / kg </span>
      </li>
      <li class="fruits-item color-wrap-banana">
        <h3 class="fruits-item-title">Banana</h3>
        <p class="fruits-item-text">Plant</p>
        <picture>
          <source
            srcset="
              ./img/fruits/fruits-banana@1x.webp 1x,
              ./img/fruits/fruits-banana@2x.webp 2x
            "
            type="image/webp"
          >
          <source
            srcset="
              ./img/fruits/fruits-banana@1x.png 1x,
              ./img/fruits/fruits-banana@2x.png 2x
            "
            type="image/png"
          >
          <img
            class="fruits-image"
            src="./img/fruits/fruits-banana@1x.png"
            alt="banana picture"
            width="295"
            height="251"
            loading="lazy"
          >
        </picture>
        <span class="fruits-price-text"> 80 UAH / kg </span>
      </li>
      <li class="fruits-item color-wrap-watermelon">
        <h3 class="fruits-item-title">Watermelon</h3>
        <p class="fruits-item-text">Plant</p>
        <picture>
          <source
            srcset="
              ./img/fruits/fruits-watermelon@1x.webp 1x,
              ./img/fruits/fruits-watermelon@2x.webp 2x
            "
            type="image/webp"
          >
          <source
            srcset="
              ./img/fruits/fruits-watermelon@1x.png 1x,
              ./img/fruits/fruits-watermelon@2x.png 2x
            "
            type="image/png"
          >
          <img
            class="fruits-image"
            src="./img/fruits/fruits-watermelon@1x.png"
            alt="watermelon picture"
            width="295"
            height="251"
            loading="lazy"
          >
        </picture>
        <span class="fruits-price-text"> 40 UAH / kg </span>
      </li>
      <li class="fruits-item color-wrap-lime">
        <h3 class="fruits-item-title">Lime</h3>
        <p class="fruits-item-text">Plant</p>
        <picture>
          <source
            srcset="
              ./img/fruits/fruits-lime@1x.webp 1x,
              ./img/fruits/fruits-lime@2x.webp 2x
            "
            type="image/webp"
          >
          <source
            srcset="
              ./img/fruits/fruits-lime@1x.png 1x,
              ./img/fruits/fruits-lime@2x.png 2x
            "
            type="image/png"
          >
          <img
            class="fruits-image"
            src="./img/fruits/fruits-lime@1x.png"
            alt="lime picture"
            width="295"
            height="251"
            loading="lazy"
          >
        </picture>
        <span class="fruits-price-text"> 60 UAH / kg </span>
      </li>
      <li class="fruits-item color-wrap-apple">
        <h3 class="fruits-item-title">Apple</h3>
        <p class="fruits-item-text">Plant</p>
        <picture>
          <source
            srcset="
              ./img/fruits/fruits-apple@1x.webp 1x,
              ./img/fruits/fruits-apple@2x.webp 2x
            "
            type="image/webp"
          >
          <source
            srcset="
              ./img/fruits/fruits-apple@1x.png 1x,
              ./img/fruits/fruits-apple@2x.png 2x
            "
            type="image/png"
          >
          <img
            class="fruits-image"
            src="./img/fruits/fruits-apple@1x.png"
            alt="apple picture"
            width="295"
            height="251"
            loading="lazy"
          >
        </picture>
        <span class="fruits-price-text"> 50 UAH / kg </span>
      </li>
      <li class="fruits-item color-wrap-peach">
        <h3 class="fruits-item-title">Peach</h3>
        <p class="fruits-item-text">Plant</p>
        <picture>
          <source
            srcset="
              ./img/fruits/fruits-peach@1x.webp 1x,
              ./img/fruits/fruits-peach@2x.webp 2x
            "
            type="image/webp"
          >
          <source
            srcset="
              ./img/fruits/fruits-peach@1x.png 1x,
              ./img/fruits/fruits-peach@2x.png 2x
            "
            type="image/png"
          >
          <img
            class="fruits-image"
            src="./img/fruits/fruits-peach@1x.png"
            alt="peach picture"
            width="295"
            height="251"
            loading="lazy"
          >
        </picture>
        <span class="fruits-price-text"> 80 UAH / kg </span>
      </li>
      <li class="fruits-item color-wrap-plum">
        <h3 class="fruits-item-title">Plums</h3>
        <p class="fruits-item-text">Plant</p>
        <picture>
          <source
            srcset="
              ./img/fruits/fruits-plum@1x.webp 1x,
              ./img/fruits/fruits-plum@2x.webp 2x
            "
            type="image/webp"
          >
          <source
            srcset="
              ./img/fruits/fruits-plum@1x.png 1x,
              ./img/fruits/fruits-plum@2x.png 2x
            "
            type="image/png"
          >
          <img
            class="fruits-image"
            src="./img/fruits/fruits-plum@1x.png"
            alt="plums picture"
            width="296"
            height="285"
            loading="lazy"
          >
        </picture>
        <span class="fruits-price-text"> 40 UAH / kg </span>
      </li>
      <li class="fruits-item color-wrap-orange">
        <h3 class="fruits-item-title">Orange</h3>
        <p class="fruits-item-text">Plant</p>
        <picture>
          <source
            srcset="
              ./img/fruits/fruits-orange@1x.webp 1x,
              ./img/fruits/fruits-orange@2x.webp 2x
            "
            type="image/webp"
          >
          <source
            srcset="
              ./img/fruits/fruits-orange@1x.png 1x,
              ./img/fruits/fruits-orange@2x.png 2x
            "
            type="image/png"
          >
          <img
            class="fruits-image"
            src="./img/fruits/fruits-orange@1x.png"
            alt="orange picture"
            width="296"
            height="285"
            loading="lazy"
          >
        </picture>
        <span class="fruits-price-text"> 60 UAH / kg </span>
      </li>
      <li class="fruits-item color-wrap-kiwi">
        <h3 class="fruits-item-title">Kiwi</h3>
        <p class="fruits-item-text">Plant</p>
        <picture>
          <source
            srcset="
              ./img/fruits/fruits-kiwi@1x.webp 1x,
              ./img/fruits/fruits-kiwi@2x.webp 2x
            "
            type="image/webp"
          >
          <source
            srcset="
              ./img/fruits/fruits-kiwi@1x.png 1x,
              ./img/fruits/fruits-kiwi@2x.png 2x
            "
            type="image/png"
          >
          <img
            class="fruits-image"
            src="./img/fruits/fruits-kiwi@1x.png"
            alt="kiwi picture"
            width="296"
            height="285"
            loading="lazy"
          >
        </picture>
        <span class="fruits-price-text"> 90 UAH / kg </span>
      </li>
    </ul>
    <button
      class="js-open-modal order-fruits-modal"
      data-modal="your-order-modal"
      type="button"
    >
      <span class="btn-content">
        <svg class="order-arrow" width="14" height="14">
          <use href="./img/icons.svg#icon-arrow"></use>
        </svg>
        <span>Order</span>
      </span>
    </button>
  </div>
</section>
