<!-- Fruits section -->

<section class="fruits-section section">
  <div class="container">
    <h2 class="fruits-tittle">
      ORGANIC fRUITS
    </h2>
    <p class="friuts-text">
      Our organic fruits are hand-picked from local farms and delivered straight to your doorstep, ensuring that you get
      the freshest and most nutritious produce possible. We offer a wide selection of organic fruits grown without the
      use of harmful pesticides or chemicals.
    </p>
    <ul class="fruits-list list">
      <li class="fruits-item">
        <h4 class="fruits-item-title">
          Strawberry
        </h4>
        <p class="fruits-item-text">
          Plant
        </p>
      </li>
      <li class="fruits-item">
        <h4 class="fruits-item-title">
          Banana
        </h4>
        <p class="fruits-item-text">
          Plant
        </p>
      </li>
      <li class="fruits-item">
        <h4 class="fruits-item-title">
          Watermelon
        </h4>
        <p class="fruits-item-text">
          Plant
        </p>
      </li>
      <li class="fruits-item">
        <h4 class="fruits-item-title">
          Lime
        </h4>
        <p class="fruits-item-text">
          Plant
        </p>
      </li>
      <li class="fruits-item">
        <h4 class="fruits-item-title">
          Apple
        </h4>
        <p class="fruits-item-text">
          Plant
        </p>
      </li>
      <li class="fruits-item">
        <h4 class="fruits-item-title">
          Peach
        </h4>
        <p class="fruits-item-text">
          Plant
        </p>
      </li>
      <li class="fruits-item">
        <h4 class="fruits-item-title">
          Plums
        </h4>
        <p class="fruits-item-text">
          Plant
        </p>
      </li>
      <li class="fruits-item">
        <h4 class="fruits-item-title">
          Orange
        </h4>
        <p class="fruits-item-text">
          Plant
        </p>
      </li>
      <li class="fruits-item">
        <h4 class="fruits-item-title">
          Kiwi
        </h4>
        <p class="fruits-item-text">
          Plant
        </p>
      </li>
    </ul>
    <button class="js-open-modal" data-modal="your-order-modal" type="button">
      Order
    </button>
  </div>

</section>