<!-- Fruits section -->

<section class="fruits-section section" id="fruits">
  <div class="container">
    <h2 class="fruits-tittle">ORGANIC FRUITS</h2>
    <p class="fruits-text">
      Our organic fruits are hand-picked from local farms and delivered straight
      to your doorstep, ensuring that you get the freshest and most nutritious
      produce possible. We offer a wide selection of organic fruits grown
      without the use of harmful pesticides or chemicals.
    </p>
    <ul class="fruits-list list">
      <li class="fruits-item color-wrap-strawberry">
        <h3 class="fruits-item-title">
          Strawberry
        </h3>
        <p class="fruits-item-text">
          Plant
        </p>
        <picture>
          <source srcset="./img/fruits/strawberry@1x-min.webp 1x, ./img/fruits/strawberry@2x-min.webp 2x"
            type="image/webp" />
          <source srcset="./img/fruits/strawberry@1x-min.png 1x, ./img/fruits/strawberry@2x-min.png 2x"
            type="image/png" />
          <img class="fruits-image" src="./img/fruits/strawberry@1x-min.png" alt="strawberry picture" width="296"
            height="285" loading="lazy">
        </picture>
        <span class="fruits-price-text">
          100 UAH / kg
        </span>
      </li>
      <li class="fruits-item color-wrap-banana">
        <h3 class="fruits-item-title">
          Banana
        </h3>
        <p class="fruits-item-text">
          Plant
        </p>
        <picture>
          <source srcset="./img/fruits/banana@1x-min.webp 1x, ./img/fruits/banana@2x-min.webp 2x" type="image/webp" />
          <source srcset="./img/fruits/banana@1x-min.png 1x, ./img/fruits/banana@2x-min.png 2x" type="image/png" />
          <img class="fruits-image" src="./img/fruits/banana@1x-min.png" alt="banana picture" width="296" height="285"
            loading="lazy">
        </picture>
        <span class="fruits-price-text">
          80 UAH / kg
        </span>
      </li>
      <li class="fruits-item color-wrap-watermelon">
        <h3 class="fruits-item-title">
          Watermelon
        </h3>
        <p class="fruits-item-text">
          Plant
        </p>
        <picture>
          <source srcset="./img/fruits/watermelon@1x-min.webp 1x, ./img/fruits/watermelon@2x-min.webp 2x"
            type="image/webp" />
          <source srcset="./img/fruits/watermelon@1x-min.png 1x, ./img/fruits/watermelon@2x-min.png 2x"
            type="image/png" />
          <img class="fruits-image" src="./img/fruits/watermelon@1x-min.png" alt="watermelon picture" width="296"
            height="285" loading="lazy">
        </picture>
        <span class="fruits-price-text">
          40 UAH / kg
        </span>
      </li>
      <li class="fruits-item color-wrap-lime">
        <h3 class="fruits-item-title">
          Lime
        </h3>
        <p class="fruits-item-text">
          Plant
        </p>
        <picture>
          <source srcset="./img/fruits/lime@1x-min.webp 1x, ./img/fruits/lime@2x-min.webp 2x" type="image/webp" />
          <source srcset="./img/fruits/lime@1x-min.png 1x, ./img/fruits/lime@2x-min.png 2x" type="image/png" />
          <img class="fruits-image" src="./img/fruits/lime@1x-min.png" alt="lime picture" width="296" height="285"
            loading="lazy">
        </picture>
        <span class="fruits-price-text">
          60 UAH / kg
        </span>
      </li>
      <li class="fruits-item color-wrap-apple">
        <h3 class="fruits-item-title">
          Apple
        </h3>
        <p class="fruits-item-text">
          Plant
        </p>
        <picture>
          <source srcset="./img/fruits/apple@1x-min.webp 1x, ./img/fruits/apple@2x-min.webp 2x" type="image/webp" />
          <source srcset="./img/fruits/apple@1x-min.png 1x, ./img/fruits/apple@2x-min.png  2x" type="image/png" />
          <img class="fruits-image" src="./img/fruits/apple@1x-min.png" alt="apple picture" width="296" height="285"
            loading="lazy">
        </picture>
        <span class="fruits-price-text">
          50 UAH / kg
        </span>
      </li>
      <li class="fruits-item color-wrap-peach">
        <h3 class="fruits-item-title">
          Peach
        </h3>
        <p class="fruits-item-text">
          Plant
        </p>
        <picture>
          <source srcset="./img/fruits/peach@1x-min.webp 1x, ./img/fruits/peach@2x-min.webp 2x" type="image/webp" />
          <source srcset="./img/fruits/peach@1x-min.png 1x, ./img/fruits/peach@2x-min.png  2x" type="image/png" />
          <img class="fruits-image" src="./img/fruits/peach@1x-min.png" alt="peach picture" width="296" height="285"
            loading="lazy">
        </picture>
        <span class="fruits-price-text">
          80 UAH / kg
        </span>
      </li>
      <li class="fruits-item color-wrap-plum">
        <h3 class="fruits-item-title">
          Plums
        </h3>
        <p class="fruits-item-text">
          Plant
        </p>
        <picture>
          <source srcset="./img/fruits/plum@1x-min.webp 1x, ./img/fruits/plum@2x-min.webp 2x" type="image/webp" />
          <source srcset="./img/fruits/plum@1x-min.png 1x, ./img/fruits/plum@2x-min.png 2x" type="image/png" />
          <img class="fruits-image" src="./img/fruits/plum@1x-min.png" alt="plums picture" width="296" height="285"
            loading="lazy">
        </picture>
        <span class="fruits-price-text">
          40 UAH / kg
        </span>
      </li>
      <li class="fruits-item color-wrap-orange">
        <h3 class="fruits-item-title">
          Orange
        </h3>
        <p class="fruits-item-text">
          Plant
        </p>
        <picture>
          <source srcset="./img/fruits/orange@1x-min.webp 1x, ./img/fruits/orange@2x-min.webp 2x" type="image/webp" />
          <source srcset="./img/fruits/orange@1x-min.png 1x, ./img/fruits/orange@2x-min.png 2x" type="image/png" />
          <img class="fruits-image" src="./img/fruits/orange@1x-min.png" alt="orange picture" width="296" height="285"
            loading="lazy">
        </picture>
        <span class="fruits-price-text">
          60 UAH / kg
        </span>
      </li>
      <li class="fruits-item color-wrap-kiwi">
        <h3 class="fruits-item-title">
          Kiwi
        </h3>
        <p class="fruits-item-text">
          Plant
        </p>
        <picture>
          <source srcset="./img/fruits/kiwi@1x-min.webp 1x, ./img/fruits/kiwi@2x-min.webp 2x" type="image/webp" />
          <source srcset="./img/fruits/kiwi@1x-min.png 1x, ./img/fruits/kiwi@2x-min.png 2x" type="image/png" />
          <img class="fruits-image" src="./img/fruits/kiwi@1x-min.png" alt="kiwi picture" width="296" height="285"
            loading="lazy">
        </picture>
        <span class="fruits-price-text">
          90 UAH / kg
        </span>
      </li>
    </ul>
    <button class="js-open-modal order-fruits-modal" data-modal="your-order-modal" type="button">
      <svg class="order-arrow" width="14" height="14">
        <use href="./img/icons.svg#icon-arrow"></use>
      </svg>
      <span>Order</span>
    </button>
  </div>
</section>