<!-- Hero section -->
<section class="hero-section section">
  <div class="hero-container container">
    <!-- Hero upper part -->
    <div class="hero-upper-part">
      <h1 class="hero-header">
        fresh harvest box <br>
        is your 0ne-stop place for a delicious fruit basket
      </h1>
      <div class="hero-girl-container">
        <picture>
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/images-hero/hero-girl/hero-img_tab-desc@1x.jpg 1x,
              ./img/images-hero/hero-girl/hero-img_tab-desc@2x.jpg 2x
            "
            type="image/jpg"
          >
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/images-hero/hero-girl/hero-img_mobile@1x.jpg 1x,
              ./img/images-hero/hero-girl/hero-img_mobile@2x.jpg 2x
            "
            type="image/jpg"
          >
          <img
            class="hero-girl-img"
            src="./img/images-hero/hero-girl/hero-img_tab-desc@1x.jpg"
            alt="smiling girl holding an orange"
            width="452"
            height="702"
          >
        </picture>
      </div>
      <a class="hero-btn link" href="#fruits">
        <span class="hero-btn-text">shop<br>now</span>
      </a>
    </div>
    <!-- Hero bottom part -->
    <div class="hero-bottom-part">
      <!-- HERO CONTAINER LEFT -->
      <div class="hero-container-left">
        <p class="hero-text">
          Our expertly curated fruit baskets are made with the freshest, highest
          quality fruits available. Whether you are looking for a healthy snack
          or a gift for a loved one, Fresh Harvest Box has got you covered.
        </p>
        <!-- Hero fruit card one -->
        <div class="hero-fruit-card">
          <p class="hero-card-title">Fruit</p>
          <img
            class="fruit-card-img"
            srcset="
              ./img/images-hero/hero-cards/watermelon-hero-card_249@1x.png 249w,
              ./img/images-hero/hero-cards/watermelon-hero-card_498@2x.png 498w
            "
            sizes="239px"
            src="./img/images-hero/hero-cards/watermelon-hero-card_249@1x.png"
            alt="ripe watermelons"
            width="239"
            height="172"
          >
          <p class="fruit-card-descr">
            Refreshing and juicy, watermelon is the perfect summer treat and a
            great source of hydration
          </p>
        </div>
      </div>
      <!-- HERO CONTAINER RIGHT -->
      <div class="hero-container-right">
        <!-- Hashtag list -->
        <ul class="hero-hashtag-list list">
          <li class="hero-list-item">
            <h3><span class="hero-hashtag-text">&#x23;organic</span></h3>
          </li>
          <li class="hero-list-item">
            <h3><span class="hero-hashtag-text">&#x23;products</span></h3>
          </li>
          <li class="hero-list-item">
            <h3><span class="hero-hashtag-text">&#x23;basket</span></h3>
          </li>
          <li class="hero-list-item">
            <h3><span class="hero-hashtag-text">&#x23;fruits</span></h3>
          </li>
        </ul>
        <!-- Hero fruit card two -->
        <div class="hero-fruit-card hero-second-card">
          <p class="hero-card-title">Fruit</p>
          <img
            class="fruit-card-img"
            srcset="
              ./img/images-hero/hero-cards/strawberry-hero-card_249@1x.png 249w,
              ./img/images-hero/hero-cards/strawberry-hero-card_498@2x.png 498w
            "
            sizes="239px"
            src="./img/images-hero/hero-cards/strawberry-hero-card_@1x.png"
            alt="a basket full of juicy strawberries"
            width="239"
            height="185"
          >
          <p class="fruit-card-descr">
            Sweet and juicy, strawberries are packed with vitamin C and
            antioxidants, making them a delicious and healthy snack
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
