<!-- Hero section -->
<section class="hero-section section">
  <div class="hero-container container">
    <!-- Hero upper part -->
    <div class="hero-upper-part">
      <h1 class="hero-header">
        fresh harvest box <br>
        is your 0ne-stop place for a delicious fruit basket
      </h1>
      <div class="hero-girl-container">
        <picture>
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/hero/hero-girl-desc@1x.webp 1x,
              ./img/hero/hero-girl-desc@2x.webp 2x
            "
            type="image/webp"
          >
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/hero/hero-girl-desc@1x.jpg 1x,
              ./img/hero/hero-girl-desc@2x.jpg 2x
            "
            type="image/jpg"
          >
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/hero/hero-girl-mobile@1x.webp 1x,
              ./img/hero/hero-girl-mobile@2x.webp 2x
            "
            type="image/webp"
          >
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/hero/hero-girl-mobile@1x.jpg 1x,
              ./img/hero/hero-girl-mobile@2x.jpg 2x
            "
            type="image/jpg"
          >
          <img
            class="hero-girl-img"
            src="./img/hero/hero-girl-desc@1x.jpg"
            alt="smiling girl holding an orange"
            width="452"
            height="702"
          >
        </picture>
        <a class="hero-btn link" href="#fruits">
          <span class="hero-btn-text">shop<br>now</span>
        </a>
      </div>
    </div>
    <!-- Hero bottom part -->
    <div class="hero-bottom-part">
      <!-- HERO CONTAINER LEFT -->
      <div class="hero-container-left">
        <p class="hero-text">
          Our expertly curated fruit baskets are made with the freshest, highest
          quality fruits available. Whether you are looking for a healthy snack
          or a gift for a loved one, Fresh Harvest Box has got you covered.
        </p>
        <!-- Hero fruit card one -->
        <div class="hero-fruit-card">
          <p class="hero-card-title">Fruit</p>
          <picture>
            <source
              srcset="
                ./img/hero/hero-watermelon@1x.webp 1x,
                ./img/hero/hero-watermelon@2x.webp 2x
              "
              type="image/webp"
            >
            <source
              srcset="
                ./img/hero/hero-watermelon@1x.png 1x,
                ./img/hero/hero-watermelon@2x.png 2x
              "
              type="image/png"
            >
            <img
              class="fruit-card-img"
              src="./img/hero/hero-watermelon@1x.png"
              alt="ripe watermelons"
              width="200"
              height="172"
            >
          </picture>
          <p class="fruit-card-descr">
            Refreshing and juicy, watermelon is the perfect summer treat and a
            great source of hydration
          </p>
        </div>
      </div>
      <!-- HERO CONTAINER RIGHT -->
      <div class="hero-container-right">
        <!-- Hashtag list -->
        <ul class="hero-hashtag-list list">
          <li class="hero-list-item">
            <h3><span class="hero-hashtag-text">&#x23;organic</span></h3>
          </li>
          <li class="hero-list-item">
            <h3><span class="hero-hashtag-text">&#x23;products</span></h3>
          </li>
          <li class="hero-list-item">
            <h3><span class="hero-hashtag-text">&#x23;basket</span></h3>
          </li>
          <li class="hero-list-item">
            <h3><span class="hero-hashtag-text">&#x23;fruits</span></h3>
          </li>
        </ul>
        <!-- Hero fruit card two -->
        <div class="hero-fruit-card hero-second-card">
          <p class="hero-card-title">Fruit</p>
          <picture>
            <source
              srcset="
                ./img/hero/hero-strawberry@1x.webp 1x,
                ./img/hero/hero-strawberry@2x.webp 2x
              "
              type="image/webp"
            >
            <source
              srcset="
                ./img/hero/hero-strawberry@1x.png 1x,
                ./img/hero/hero-strawberry@2x.png 2x
              "
              type="image/png"
            >
            <img
              class="fruit-card-img"
              src="./img/hero/hero-strawberry@1x.png"
              alt="a basket full of juicy strawberries"
              width="162"
              height="185"
            >
          </picture>

          <p class="fruit-card-descr">
            Sweet and juicy, strawberries are packed with vitamin C and
            antioxidants, making them a delicious and healthy snack
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
