<!-- Hero section -->

<section class="hero-section">
  <div class="container hero-container">
    <!-- Hero upper part -->
    <div class="hero-upper-part">
      <h1 class="hero-header">
        fresh harvest box is your 0ne-stop place for a delicious fruit basket
      </h1>
      <img src="" alt="smiling girl holding an orange" />
      <button class="hero-btn">shopnow</button>
    </div>
    <!--  -->
    <p class="hero-text">
      Our expertly curated fruit baskets are made with the freshest, highest
      quality fruits available. Whether you are looking for a healthy snack or a
      gift for a loved one, Fresh Harvest Box has got you covered.
    </p>
    <!-- Hero fruit card one -->
    <div class="fruit-card-one">
      <p class="fruit-card-title">Fruit</p>
      <img src="" alt="fresh and ripe watermelons" class="fruit-card-img" />
      <p class="fruit-card-descr">
        Refreshing and juicy, watermelon is the perfect summer treat and a great
        source of hydration
      </p>
    </div>
    <!-- Hashtag list -->
    <div class="hero-hashtag-list">
      <ul class="list">
        <li class="list-item">&#x23;organic</li>
        <li class="list-item">&#x23;products</li>
        <li class="list-item">&#x23;basket</li>
        <li class="list-item">&#x23;fruits</li>
      </ul>
    </div>
    <!-- Hero fruit card two -->
    <div class="fruit-card-two">
      <p class="fruit-card-title">Fruit</p>
      <img
        src=""
        alt="a basket full of juicy strawberries"
        class="fruit-card-img"
      />
      <p class="fruit-card-descr">
        Refreshing and juicy, watermelon is the perfect summer treat and a great
        source of hydration
      </p>
    </div>
  </div>
</section>
