<!-- How it works section -->
<section class="how-it-works-section section">
  <div class="container fruit-steps-container">
    <h2 class="section-title-how-it-works">
      To order your fruit basket, simply follow these easy steps
    </h2>
    <p class="section-subtitle-how-it-works">
      Our baskets are assembled with care and delivered straight to your
      doorstep, so you can enjoy the taste of fresh fruit without ever leaving
      your home. Whether you're looking for a healthy snack or a thoughtful
      gift, our fruit baskets are the perfect choice.
    </p>
    <ul class="fruit-steps-list list">
      <li>
        <h3 class="steps-title">First Step</h3>
        <p class="steps-text">
          Just choose the fruit you want to order by clicking on the checkboxes
          next to it.
        </p>
      </li>
      <li class="">
        <h3 class="steps-title">Second Step</h3>
        <p class="steps-text">Click on the basket and fill out the form.</p>
      </li>
      <li>
        <h3 class="steps-title">Third Step</h3>
        <p class="steps-text">
          Sit back and relax! Your fresh fruit basket will be delivered.
        </p>
      </li>
    </ul>
  </div>
  <div>
    <img
      src="./img/How it works/gif-fruits.gif"
      alt="Animated fruits"
      style="width: 335px"
    />
  </div>
</section>
