<!-- How it works section -->

<section class="how-it-works-section section" id="how-it-works">
  <div class="container fruit-steps-container">
    <h2 class="section-title-how-it-works">
      To order your fruit basket, simply follow these easy steps
    </h2>
    <p class="section-subtitle-how-it-works">
      Our baskets are assembled with care and delivered straight to your
      doorstep, so you can enjoy the taste of fresh fruit without ever leaving
      your home. Whether you're looking for a healthy snack or a thoughtful
      gift, our fruit baskets are the perfect choice.
    </p>
    <ul class="fruits-steps-list list">
      <li class="fruits-steps">
        <h3 class="steps-title steps-title-1">First Step</h3>
        <p class="steps-text">
          Just choose the fruit you want to order by clicking on the checkboxes
          next to it.
        </p>
      </li>
      <li class="fruits-steps">
        <h3 class="steps-title steps-title-2">Second Step</h3>
        <p class="steps-text">Click on the basket and fill out the form.</p>
      </li>
      <li class="fruits-steps">
        <h3 class="steps-title steps-title-3">Third Step</h3>
        <p class="steps-text">
          Sit back and relax! Your fresh fruit basket will be delivered.
        </p>
      </li>
    </ul>
    <!-- <picture>
      <source
        srcset="./img/how-it-works/gif-fruits-860x476.gif"
        media="(min-width:1280px)"
        type="image/gif"
      />
      <source
        srcset="./img/how-it-works/gif-fruits-704x476.gif"
        media="(min-width:768px)"
        type="image/gif"
      />
      <source
        srcset="./img/how-it-works/gif-fruits-335x476.gif"
        media="(min-width:375px)"
        type="image/gif"
      />
      <img
        class="gif-image"
        src="../img/how-it-works/gif-fruits-335x476.gif"
        alt="Animated fruits"
        height="335"
        width="476"
      />
    </picture> -->
    <video class="gif-video" autoplay loop muted playsinline height="476" width="335">
      <source src="./img/how-it-works/gif-fruits.webm" type="video/webm"/>
      <source src="./img/how-it-works/gif-fruits.mp4" type="video/mp4" />
    </video>
  </div>
</section>
