<!-- Modal thank you -->

<div class="modal modal-thank-you">
  <button class="modal-close-btn close-btn" type="button">
    <svg class="modal-close-svg" width="24" height="24">
      <use href="./img/icons.svg#icon-close-btn"></use>
    </svg>
  </button>
  <picture>
    <source
      srcset="
        ./img/modal-thank-you/thank-you-strawberry-desk@1x.webp 1x,
        ./img/modal-thank-you/thank-you-strawberry-desk@2x.webp 2x
      "
      media="(min-width:768px)"
      type="image/webp"
    />
    <source
      srcset="
        ./img/modal-thank-you/thank-you-strawberry-desk@1x.png 1x,
        ./img/modal-thank-you/thank-you-strawberry-desk@2x.png 2x
      "
      media="(min-width:768px)"
      type="image/png"
    />
    <source
      srcset="
        ./img/modal-thank-you/thank-you-strawberry-mobile@1x.webp 1x,
        ./img/modal-thank-you/thank-you-strawberry-mobile@2x.webp 2x
      "
      media="(min-width:320px)"
      type="image/png"
    />
    <source
      srcset="
        ./img/modal-thank-you/thank-you-strawberry-mobile@1x.png 1x,
        ./img/modal-thank-you/thank-you-strawberry-mobile@2x.png 2x
      "
      media="(min-width:320px)"
      type="image/png"
    />
    <img
      class="modal-thank-you-img"
      src="./img/modal-thank-you/thank-you-strawberry-mobile@1x.png"
      alt="strawberry"
      loading="lazy"
      width="207"
      height="176"
    />
  </picture>
  <div>
    <h2 class="modal-thankYou-title">thank you</h2>
    <p class="modal-thankYou-text">
      Thank you for your order! Our team is preparing your box with fresh,
      delicious fruits and vegetables, and we'll deliver it straight to your
      doorstep. We appreciate your business and look forward to providing you
      with the best possible experience!
    </p>
  </div>
</div>
