/* ======================= Footer ========================== */

.footer-section {
  background-color: var(--white-color);
}

.footer-container {
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 375px) {
  .footer-container {
    width: 375px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    justify-content: space-between;
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .footer-container {
    width: 1280px;
  }
}

/* section */
.footer-section {
  padding-top: 80px;
  padding-bottom: 80px;
}

/* logo */
.footer-logo-anchor {
  margin-bottom: 44px;
}
@media screen and (min-width: 768px) {
  .footer-logo-anchor {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1280px) {
  .footer-logo-anchor {
    display: flex;
  }
}

.footer-photo-and-logo {
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .footer-photo-and-logo {
    margin-bottom: 0;
  }
}

.footer-img {
  border-radius: 100px;
}

.footer-logo-link {
  color: var(--red-color);
  margin-top: 10px;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition-color), var(--transition-transform);
}

.footer-logo-link:hover,
.footer-logo-link:focus {
  color: var(--hover-color);
  transform: scale(1.2);
}
@media screen and (min-width: 768px) {
  .footer-logo-link {
    margin-bottom: 80px;
  }
}
@media screen and (min-width: 1280px) {
  .footer-logo-link {
    margin-bottom: 0;
  }
}

.footer-logo-svg {
  margin-right: 8px;
  fill: currentColor;
}

.footer-text-logo-color {
  font-weight: 700;
  text-transform: uppercase;
}

/* anchor */
.footer-anchor-menu {
  margin-top: 14px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
@media screen and (min-width: 1280px) {
  .footer-anchor-menu {
    margin-top: 0;
    padding-top: 90px;
    padding-left: 243px;
  }
}

.footer-anchor-link {
  padding: 15px 0;
  color: var(--red-color);
  transition: var(--transition-color);
}

.footer-anchor-link:hover,
.footer-anchor-link:focus {
  color: var(--hover-color);
}

/* socials */
.footer-social-list {
  margin-bottom: 44px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer-social-link {
  display: inline-block;
  width: 46px;
  height: 46px;
  padding: 8px;
  border: 1px solid var(--red-color);
  border-radius: 10px;
  transition: var(--transition-background);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: rgb(250, 213, 221);
}

.footer-socials-svg {
  fill: var(--red-color);
}

/* tel, addres */
@media screen and (max-width: 767px) {
  .footer-page {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 14px;
  }
}
@media screen and (min-width: 768px) {
  .footer-page {
    margin-bottom: 14px;
  }
}

.footer-page:last-child {
  margin-bottom: 0;
}

.footer-link {
  color: var(--red-color);
  transition: var(--transition-color);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--hover-color);
}
