/* ======================= Footer ========================== */


.footer-section {
  padding-top: 80px;
  padding-bottom: 80px;
}

@media screen and (min-width: 768px) {
  .footer-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (min-width: 1280px) {
  .footer-list {
    align-items: flex-start;
  }
}

/* logo */
.footer-logo-anchor {
  margin-bottom: 44px;
}
@media screen and (min-width: 768px) {
  .footer-logo-anchor {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1280px) {
  .footer-logo-anchor {
    display: flex;
  }
}

.footer-photo-and-logo {
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .footer-photo-and-logo {
    margin-bottom: 0;
  }
}

.footer-logo-link {
  margin-top: 10px;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .footer-logo-link {
    margin-bottom: 80px;
  }
}
@media screen and (min-width: 1280px) {
  .footer-logo-link {
    margin-bottom: 0;
  }
}

.footer-logo-svg {
  margin-right: 8px;
  fill: var(--red-color);
}

.footer-text-logo-color {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--red-color);
}

/* anchor */
.footer-anchor-menu {
  margin-top: 14px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

@media screen and (min-width: 1280px) {
  .footer-anchor-menu {
    margin-top: 0;
    padding-top: 90px;
    padding-left: 243px;
  }
}

.footer-anchor-link {
  padding: 15px 0;
  color: var(--red-color);
}

/* socials */
.footer-social-list {
  margin-bottom: 44px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.footer-social-li {
  display: flex;
  padding: 8px;
  border: 1px solid var(--red-color);
  border-radius: 10px;
  transition-property: background-color;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-li:hover,
.footer-social-li:focus {
  background-color: rgb(250, 213, 221);
}
.footer-social-link {
  width: 28px;
  height: 28px;
}
.footer-socials-svg {
  fill: var(--red-color);
}

/* tel, addres */
@media screen and (max-width: 767px) {
  .footer-page {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 14px;
  }

}
@media screen and (min-width: 768px) {
  .footer-page {
    margin-bottom: 14px;
  }
}

.footer-page:last-child {
  margin-bottom: 0;
}
.footer-link {
  color: var(--red-color);
}