/* ======================= Fruits ========================== */

.fruits-tittle {
  margin-bottom: 14px;
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  text-align: center;
  letter-spacing: -0.04em;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  color: var(--white-color);
}

/* tablet + desktop */
@media only screen and (min-width: 768px) {
  .fruits-tittle {
    font-size: 40px;
    line-height: 1.1;
  }
}

.fruits-text {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 44px;
  width: 100%;
  letter-spacing: -0.04em;
  text-align: center;
}

/* tablet + desktop */
@media only screen and (min-width: 768px) {
  .fruits-text {
    max-width: 547px;
  }
}

/* tablet */
@media only screen and (min-width: 768px) {
  .fruits-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }
}

/* desktop */
@media only screen and (min-width: 1280px) {
  .fruits-list {
    gap: 24px;
  }
}

.fruits-item {
  background-image: url(../img/fruits/oval.png);
  background-repeat: no-repeat;
  background-size: 195px 38px;
  background-position: center 374px;
  background-clip: padding-box;
  padding: 64px 20px 24px 20px;
  border-radius: 20px;
  margin-bottom: 14px;
}

/* tablet */
@media only screen and (min-width: 768px) {
  .fruits-item {
    width: 344px;
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 0;
  }
}
/* desktop */
@media only screen and (min-width: 1280px) {
  .fruits-item {
    width: 389px;
  }
}

.color-wrap-strawberry {
  background-color: #f8766b;
}

.color-wrap-banana {
  background-color: #edd251;
}

.color-wrap-watermelon {
  background-color: #9dc262;
}

.color-wrap-lime {
  background-color: #bfd663;
}

.color-wrap-apple {
  background-color: #e93f29;
}

.color-wrap-peach {
  background-color: #db4f4b;
}

.color-wrap-plum {
  background-color: #9b5366;
}

/* mobile */
@media only screen and (max-width: 767px) {
  .color-wrap-plum {
    display: none;
  }
}

.color-wrap-orange {
  background-color: #f47f4c;
}

/* mobile */
@media only screen and (max-width: 767px) {
  .color-wrap-orange {
    display: none;
  }
}

.color-wrap-kiwi {
  background-color: #98b37e;
}

/* mobile */
@media only screen and (max-width: 1279px) {
  .color-wrap-kiwi {
    display: none;
  }
}

.fruits-item-title {
  font-weight: 700;
  font-size: 24px;
  letter-spacing: -0.04em;
  line-height: 1.17;
  margin-bottom: 8px;
}

/* tablet + desktop */
@media only screen and (min-width: 768px) {
  .fruits-item-title {
    margin-bottom: 7px;
    font-size: 32px;
    line-height: 1.19;
  }
}

.fruits-item-text {
  letter-spacing: -0.02em;
  line-height: 1.29;
  margin-bottom: 4px;
}

.fruits-image {
  margin: 0 auto 26px auto;
}

/* tablet + desktop */
@media only screen and (min-width: 768px) {
  .fruits-item-text {
    font-size: 18px;
    line-height: 1.33;
  }

  .fruits-image {
    margin-bottom: 6px;
  }
}

.fruits-price-text {
  display: inline-block;
  padding: 12px 24px;
  font-weight: 500;
  letter-spacing: -0.04em;
  line-height: 1.29;
  border-radius: 200px;
  background-color: var(--white-color);
  color: var(--red-color);
}

/* @media only screen and (min-width: 375px) and (max-width: 767px) {
  .fruits-price-text {
    margin-top: 5px;
  }
} */

/* tablet */
@media only screen and (min-width: 768px) {
  .fruits-price-text {
    font-size: 18px;
    line-height: 1.33;
  }
}

.order-fruits-modal {
  display: block;
  margin-top: 44px;
  margin-left: auto;
  margin-right: auto;
  height: 80px;
  border-radius: 50%;
  border-color: transparent;
  background-color: var(--green-color);
  color: var(--white-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);

  transform: rotate(-14deg);
  transition: var(--transition-color), var(--transition-background);
}

/* tablet + desktop */
@media only screen and (min-width: 768px) {
  .order-fruits-modal {
    width: 114px;
    height: 114px;

    font-size: 18px;
  }
}

.order-fruits-modal:hover,
.order-fruits-modal:focus {
  background-color: var(--white-color);
  color: var(--green-color);
}

.order-arrow {
  margin-right: 4px;
  fill: currentColor;
}

.order-arrow:hover,
.order-arrow:focus {
  fill: var(--green-color);
}

/*======================= /Fruits ========================== */
