/* ======================= Header ========================== */

.header-section {
  background-color: var(--white-color);
}

.header-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 50px;
  padding-right: 32px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.header-logo-icon {
  width: 16px;
  height: 16px;
  fill: currentColor;
}

.logo {
  display: flex;
  align-items: center;
  color: var(--red-color);
  transition: var(--transition-transform);
}

.logo:hover,
.logo:focus {
  color: var(--hover-color);
}

.logo-text {
  margin-left: 8px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: -0.04em;
  text-transform: uppercase;
}

.button-basket {
  align-items: center;
  fill: var(--red-color);
  background-color: var(--white-color);
  width: 28px;
  height: 28px;
  border: none;
  margin-left: 200px;
  transition: var(--transition-color);
}
.button-basket:hover,
.button-basket:focus {
  fill: var(--hover-color);
}

.header-basket-icon {
  width: 19px;
  height: 24px;
}

.mobile-menu-open {
  display: flex;
  align-items: center;
  fill: var(--red-color);
  background-color: var(--white-color);
  padding: 0;
  border: none;
  transition: var(--transition-color);
}
.mobile-menu-open:hover,
.mobile-menu-open:focus {
  fill: var(--hover-color);
}
.mobile-menu-open-icon {
  width: 24px;
  height: 24px;
}

@media screen and (min-width: 375px) {
}

@media screen and (max-width: 767px) {
  .header-nav {
    display: none;
  }
  .button-basket {
    display: none;
  }

  .header-container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .mobile-menu-logo {
    background-color: var(--white-color);
    height: 50px;
    display: flex;
    border: none;
    align-items: center;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 20px;
    padding-right: 20px;
    transition: var(--transition-color);
  }
  .mobile-menu-logo:hover,
  .mobile-menu-logo:focus {
    color: var(--hover-color);
  }

  .mobile-menu {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: var(--red-color);
    /* box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08); */
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .mobile-menu-close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    background-color: var(--white-color);
    border: none;
  }

  .mobile-menu-close-btn {
    padding: 0;
    transition: var(--transition-color);
  }
  .mobile-menu-close-btn:hover,
  .mobile-menu-close-btn:focus {
    fill: var(--hover-color);
  }

  .mobile-menu-close-icon {
    stroke: var(--red-color);
    width: 24x;
    height: 24px;
  }

  .mobile-nav {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: -0.04em;
    color: var(--white-color);
    transition: transform 500ms;
  }
  .mobile-nav:hover,
  .mobile-nav:focus {
    color: var(--hover-color);
  }

  .mobile-button-basket {
    align-items: center;
    background-color: var(--red-color);
    width: 28px;
    height: 28px;
    border: none;
    transition: var(--transition-color);
  }

  .mobile-button-basket:hover,
  .mobile-button-basket:focus {
    fill: var(--hover-color);
  }

  .mobile-basket-icon {
    width: 19px;
    height: 24px;
    fill: var(--white-color);
  }

  .mobile-navigation {
    text-align: center;
    padding-top: 174px;
    /* padding-left: 149px;
    padding-right: 149px; */
  }

  .navigation-item {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .logo:hover,
  .logo:focus {
    transform: scale(1.2);
  }

  .mobile-menu {
    display: none;
  }

  .mobile-menu-open {
    display: none;
  }

  .header-menu {
    display: flex;
    align-items: center;
  }

  .nav-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: -0.04em;
    color: var(--red-color);
    transition: var(--transition-color);
  }
  .nav-link:hover,
  .nav-link:focus {
    color: var(--hover-color);
    /* font-weight: 500; */
    /* transform: scale(1.1); */
  }

  .nav-item:not(:last-child) {
    margin-right: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .nav-item:not(:last-child) {
    margin-right: 20px;
  }
}

/*======================= /Header ========================== */
