/* ======================= Hero ========================== */
/* Hero upper part */
.hero-container {
    padding-bottom: 80px;
    
    background-color: var(--red-color);
}

.hero-upper-part {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 44px;
}

.hero-header {
    margin-top: 56px;

    font-weight: 500;
    font-size: 28px;
    line-height: 1;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    text-align: center;
    color: var(--white-color);
    text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}

.hero-girl-img {
    border-radius: 500px;
    background-color: var(--white-color);
}

.hero-girl-container {
    outline: 1px solid white;
    outline-offset: 12px;
    border-radius: 500px;
}

.hero-btn {
    padding: 20px 12px;
    width: 80px;
    height: 80px;

    border: none;
    border-radius: 50%;
    background-color: var(--white-color);
}

.hero-btn-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
    color: var(--red-color);
}

.hero-text-container {
    max-width: 279px;
}

.hero-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.04em;
}

/* Hero bottom part */
.hero-container-left {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 44px;
    margin-bottom: 44px;
}

.hero-container-right {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 44px;
}

.hero-fruit-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    padding-top: 28px;
    padding-bottom: 40px;

    max-width: 249px;
    min-height: 387px;

    background-color: var(--green-color);
    border-radius: 500px;
}

.hero-card-title {
    margin-bottom: 61px;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.04em;
    text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}

.fruit-card-descr {
    max-width: 155px;

    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}

.hero-second-card {
    background-color: var(--yellow-color);
}

.hero-second-card > .hero-card-title {
    margin-bottom: 19px;
}
.hero-second-card > .fruit-card-descr {
    max-width: 163px;
}

.hero-hashtag-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
}

.hero-list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 125px;
    height: 38px;
    padding: 12px 32px; */

    border: 1px solid var(--white-color);
    border-radius: 1000px;
}

.hero-list-item:nth-child(odd) {
    width: 125px;
    height: 38px;
}

.hero-list-item:nth-child(even) {
    width: 132px;
    height: 38px;
}

.hero-hashtag-text {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}

@media only screen and (min-width: 768px) {
   .hero-header {
        font-size: 50px;
        line-height: 1.08;
    }

    .hero-btn {
        width: 114px;
        height: 114px;
        padding: 30px 15px;
    }

    .hero-btn-text {
        font-size: 28px;
    }

    .hero-bottom-part {
        display: flex;
        gap: 144px;
    }

    .hero-container-left {
        justify-content: flex-end;
    }

    .hero-container-right {
        flex-direction: column-reverse;
        justify-content: flex-end;
    }
    
    .hero-list-item {
        width: auto;
        height: auto;
        padding: 12px 32px;
    }
}

@media only screen and (min-width: 1280px) {
   {
    
  }
}

/* ======================= /Hero ========================== */
