/* ======================= Hero ========================== */
/* Hero upper part */


.hero-container {
  position: relative;

  background-image: url(../img/images-hero/hero-flying-fruits/flying-fruits-mobile@1x.png);
  background-repeat: no-repeat;
  background-position: 50% 0;
}

@media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .hero-container {
    background-image: url(../img/images-hero/hero-flying-fruits/flying-fruits-mobile@2x.png);
  }
}

.hero-upper-part {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 116px;
  margin-bottom: 71px;
}

.hero-header {
  position: absolute;
  top: 10%;

  max-width: 355px;

  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  text-align: center;
  color: var(--white-color);
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}

.hero-girl-container {
  padding: 15px;
  background-image: linear-gradient(359.94deg,
      #ffffff -1.7%,
      rgba(255, 255, 255, 0.441769) 30.64%,
      rgba(255, 255, 255, 0) 76.92%);
  border-radius: 500px;
}

.hero-girl-img {
  border-radius: 500px;
  box-shadow: 0 0 0 14px var(--red-color);
}


.hero-girl-img {
  border-radius: 500px;
  background-color: var(--white-color);
}

.hero-btn {
  position: absolute;
  bottom: -6%;

  display: flex;
  justify-content: center;

  padding: 20px 12px;
  width: 80px;
  height: 80px;

  transform: rotate(-14deg);

  border: none;
  border-radius: 50%;
  background-color: var(--white-color);
}

.hero-btn-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  color: var(--red-color);
}

.hero-text {
  max-width: 279px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
}

/* Hero bottom part */

.hero-container-left {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 44px;
  margin-bottom: 44px;
}

.hero-container-right {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 44px;
}

.hero-fruit-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
    
  padding-top: 28px;
  padding-bottom: 40px;

  width: 249px;
  min-height: 387px;

  background-color: var(--green-color);
  border-radius: 500px;
}

.hero-card-title {
  margin-bottom: 61px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.04em;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}

.fruit-card-descr {
  max-width: 155px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}

.hero-second-card {
  background-color: var(--yellow-color);
}

.hero-second-card > .hero-card-title {
  margin-bottom: 19px;
}
.hero-second-card > .fruit-card-descr {
  max-width: 163px;
}

.hero-hashtag-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
}

.hero-list-item {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid var(--white-color);
  border-radius: 1000px;
}

.hero-list-item:nth-child(odd) {
  width: 125px;
  height: 38px;
}

.hero-list-item:nth-child(even) {
  width: 132px;
  height: 38px;
}

.hero-hashtag-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}

@media only screen and (min-width: 768px) {
  .hero-container {
    background-image: url(../img/images-hero/hero-flying-fruits/flying-fruits-tablet@1x.png);
  }

  @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .hero-container {
      background-image: url(../img/images-hero/hero-flying-fruits/flying-fruits-tablet@2x.png);
    }
  }

  .hero-upper-part {
    padding-top: 122px;
  }

  .hero-header {
    max-width: 704px;

    font-size: 50px;
    line-height: 1.08;
  }

  .hero-btn {
    width: 114px;
    height: 114px;
    padding: 30px 15px;
  }

  .hero-btn-text {
    font-size: 28px;
  }

  .hero-bottom-part {
    display: flex;
    gap: 142px;
  }

  .hero-container-left {
    justify-content: flex-end;
    margin-bottom: 0;
  }

  .hero-container-right {
    flex-direction: column-reverse;
    justify-content: flex-end;
  }

  .hero-second-card {
    margin-right: 32px;
  }
    
  .hero-hashtag-list {
    justify-content: flex-end;
  }

  .hero-hashtag-list > .hero-list-item {
    width: auto;
    padding: 12px 32px;
  }
}

@media only screen and (min-width: 1280px) {
  .hero-container {
      background-image: url(../img/images-hero/hero-flying-fruits/flying-fruits-desc@1x.png);
    }
  
  @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
      .hero-container {
        background-image: url(../img/images-hero/hero-flying-fruits/flying-fruits-desc@2x.png);
      }
    }

  .hero-upper-part {
    padding-top: 122px;
  }
    
  .hero-header {
    max-width: 898px;

    font-size: 64px;
    line-height: 1;
  }

  .hero-container-left {
    position: absolute;
    bottom: 0;
    margin-left: 30px;

    flex-direction: column;
  }
  
  .hero-text {
    max-width: 222px;
  }

  .hero-container-right {
    position: absolute;
    bottom: 15%;
    right: 0;
    margin-right: 30px;
  }

  .hero-hashtag-list {
    max-width: 270px;
  }
}

/* ======================= /Hero ========================== */
