/* ======================= How it works ========================== */

.section-title-how-it-works {
  font-weight: 500;
  font-size: 28px;
  line-height: 28px;
  margin-bottom: 14px;
  align-items: center;
  text-align: center;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--white-color);
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  order: 0;
  flex-grow: 0;
}

/* TABLET */
@media only screen and (min-width: 768px) {
  .section-title-how-it-works {
    font-weight: 500;
    font-size: 40px;
    line-height: 44px;
  }
}

/* DESKTOP */
@media only screen and (min-width: 1280px) {
  .section-title-how-it-works {
    width: 624px;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: 14px;
    margin-left: auto;
  }
}

.section-subtitle-how-it-works {
  width: auto;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: -0.04em;
  color: var(--white-color);
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}

/* MOBILE */
@media screen and (min-width: 375px) {
  .section-subtitle-how-it-works {
    width: 335px;
  }
}

/* TABLET and DESKTOP */
@media screen and (min-width: 768px) {
  .section-subtitle-how-it-works {
    width: 509px;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: 44px;
    margin-left: auto;
  }
}

.fruits-steps-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 44px;
}

/* TABLET and DESKTOP */
@media only screen and (min-width: 768px) {
  .fruits-steps-list {
    gap: 25px;
    justify-content: center;
  }
}

.fruits-steps {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  width: 100%;
  height: 112px;
  background-color: var(--white-color);
  border-radius: 20px;
  padding: 20px;
}

/* MOBILE */
@media screen and (min-width: 375px) {
  .fruits-steps {
    gap: 14px;
    width: 335px;
    height: 112px;
    background-color: var(--white-color);
    border-radius: 20px;
    padding: 20px;
  }
}

/* TABLET */
@media only screen and (min-width: 768px) {
  .fruits-steps {
    width: 389px;
    height: 128px;
    padding: 24px;
  }
}

/* DESKTOP */
@media only screen and (min-width: 1280px) {
  .fruits-steps-list {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 24px;
  }
}

.steps-title {
  display: block;
  width: 136px;
  height: 48px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.04em;
  padding: 12px 0px;
  border-radius: 200px;
}

.steps-title-1 {
  background-color: var(--red-color);
}

.steps-title-2 {
  background-color: var(--green-color);
}

.steps-title-3 {
  background-color: var(--yellow-color);
}

.steps-text {
  width: 145px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.04em;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  color: var(--black-color);
}

.gif-video {
  display: block;
  width: 280px;
  height: 460px;
  margin: 44px auto 0 auto;
  border-radius: 20px;
  object-fit: cover;
}


@media only screen and (min-width: 375px) {
  .gif-video {
    width: 335px;
    height: 476px;
    margin-top: 44px;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;

/* MOBILE */
/* @media only screen and (min-width: 375px) {
  .gif-image {
    border-radius: 20px;
    width: 335px;
    height: 476px;
    object-fit: cover;
 */
  }
}

/*TABLET */
@media only screen and (min-width: 768px) {

  .gif-video {
    display: block;
    width: 704px;
    height: 476px;
  }
}

@media screen and (min-width: 1280px) {
  .gif-video {
    display: block;
    width: 860px;
    height: 476px;
/* =======
  .gif-image {
    width: 704px;
    height: 476px;
    object-fit: cover;
  }
} */
/* DESKTOP */
/* @media screen and (min-width: 1280px) {
  .gif-image {
    width: 860px;
    height: 476px;
    object-fit: cover;
 */
    margin-top: 44px;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
  }
}


/*======================= /How it works ========================== */
