/* ======================= Modal your order ========================== */

/*======================= /Modal you order ========================== */

.modal-order {
  padding: 20px;
  overflow: auto
}
@media only screen and (min-width: 375px) {
  .modal-order{
    width: 335px;
  }
}

/* готово не чіпати */
.modal-order-title {
  margin-bottom: 40px;
  text-align: left;
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--red-color);
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}

/*  готово */
.modal-order-close-svg {
  stroke: var(--red-color);
}
/* готово */
.modal-order-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
  margin-bottom: 40px;
  border-radius: 20px;
}

.modal-order-list-item {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  padding-left: 20px;
  padding-right: 14px;
  background: #EDD251;
  border-radius: 20px;
}

.modal-order-list-item:first-child {
  background-color: #F8766B;
}

.modal-order-list-item:last-child {
  background-color: #9DC262;
}
.modal-order-list-text{
  display: block;
}
.modal-order-list-text h3{
  margin-top: 20px;
  text-align: left;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.04em;
}

.modal-order-list-text p{  
  text-align: left;
  font-weight: 400;
  letter-spacing: -0.02em;
}


.modorder-check:checked + .modorder-lable::after {
  background-color:white;
  background-image: url(../img/modorder_img/pickcheck.svg); 
  background-repeat: no-repeat;
  background-position: center;
}

.modal-order-lable-checkbox {
  display: flex;
  justify-content: space-between;
}

.modal-order-lable-checkbox::after{
  content: '';
  width: 16px;
  height: 16px;
  border: 1.5px solid #FFFFFF;
  border-radius: 4px;
  display: block;
}
.modorder-lable-text{
    display: flex;
    flex-direction: column;
    
    align-items: flex-start;
    

}
.modorde-basket-item {
}
.modorder-basket-item {
}
.modorder-field {
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 14px;
margin-bottom: 20px;
}
.input-wrap {
}
.modorder-input {
    box-sizing: border-box;
width: 295px;
height: 46px;
left: 0px;
top: 0px;
opacity: 0.3;
border: 1px solid #000000;
border-radius: 100px;
padding-top: 14px;
padding-bottom: 14px;
padding-left: 24px;
}
.modorder-textarea {
    width: 295px;
height: 132px;
left: 0px;
top: 180px;

opacity: 0.3;
border: 1px solid #000000;
border-radius: 20px;
padding-top: 14px;
padding-left: 24px;
}
.modorder-btn {
    display: flex;
flex-direction: row;
align-items: center;
padding: 12px 24px;
width: 92px;
height: 42px;
left: 20px;
top: 841px;
border: none;
background-color: var(--modal-submit);
border-radius: 100px;
}
@media only screen and (min-width: 375px) {
    .modorder {
      width: 335px;
    }
    .modorder-girl{
        display: none;
    }
  }