/* ======================= Modal ========================== */

/* Стили для подложки */

.overlay {
  /* Скрываем подложку  */
  opacity: 0;
  visibility: hidden;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  transition: 0.3s all;
}

/* Стили для модальных окон */

.modal {
  /* Скрываем окна  */
  opacity: 0;
  visibility: hidden;

  overflow: auto;
  max-height: 95vh;

  /*  Установаем ширину окна  */
  width: 100%;
  max-width: 891px;

  /*  Центрируем и задаем z-index */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30; /* Должен быть выше чем у подложки*/

  /*  Побочные стили   */
  box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 30px;
  border-radius: 20px;
  background-color: #fff;
  transition: 0.3s all;
}

/* Стили для активных классов подложки и окна */

.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
}

/* Стили для кнопки закрытия */

.modal-close-btn {
  padding: 0;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
}

/*======================= /Modal ========================== */
