/* ======================= Modal your order ========================== */

/*======================= /Modal you order ========================== */

/* готово не чіпати */
.modal-order {
  padding: 20px;
  overflow: auto
}
@media only screen and (min-width: 375px) {
  .modal-order{
    width: 335px;
  }
}
/* tablet */
@media only screen and (min-width: 765px) {
  .modal-order {
    padding: 40px;
    width: 704px;
  }
}
/* desktop */
@media only screen and (min-width: 1280px) {
  .modal-order {
    width: 891px;
  }
}

.modal-order-title {
  margin-bottom: 40px;
  text-align: left;
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--red-color);
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}
/* tablet+desktop */
@media only screen and (min-width: 765px) {
  .modal-order-title{
    font-size: 40px;
    line-height: 1.1;
  }
}

.modal-order-close-svg {
  stroke: var(--red-color);
}

/* tablet+desktop .modal-close-btn */
@media only screen and (min-width: 768px) {
  .modal-close-btn {
    width: 28px;
    height: 28px;
  }
}

.modal-order-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
  margin-bottom: 40px;
  border-radius: 20px;
}
/* tablet */
@media only screen and (min-width: 768px) {
  .modal-order-list {
    flex-wrap: nowrap;
  }
}

.modal-order-list-item {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  padding: 16px 14px 8px 20px;
  background: #EDD251;
  border-radius: 20px;
}
/* tablet+desktop */
@media only screen and (min-width: 768px) {
  .modal-order-list-item {
    padding: 40px 20px 14px 20px;
  }
}

.modal-order-list-item:first-child {
  background-color: #F8766B;
}

.modal-order-list-item:last-child {
  background-color: #9DC262;
}

.modal-order-list-text{
  display: block;
  margin-right: auto;
}

.modal-order-list-text h3{
  text-align: left;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.04em;
}
/* desktop */
@media only screen and (min-width: 1280px) {
  .modal-order-list-text h3{
    font-size: 24px;
    line-height: 1.17;
  }
}

.modal-order-list-text p{  
  text-align: left;
  font-weight: 400;
  letter-spacing: -0.02em;
}

.modal-order-lable-checkbox {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
/* tablet */
@media only screen and (min-width: 768px) {
  .modal-order-lable-checkbox {
    flex-direction: column;
    align-items: center;
  }
}

.modal-order-lable-checkbox::after{
  content: '';
  cursor: pointer;
  width: 16px;
  height: 16px;
  border: 1.5px solid #FFFFFF;
  border-radius: 4px;
  display: block;
}
/* tablet */
@media only screen and (min-width: 768px) {
  .modal-order-lable-checkbox::after{
    width: 20px;
    height: 20px;
  }
}



/* *******треба доробить**************** */
.modal-order-check:checked + .modal-order-lable-checkbox::after {
  background-color: var(--white-color);
  background-image: url(../img/modal-order/pick.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-position: center;
}

.modorder-field {
    display: flex;
flex-direction: column;
align-items: flex-start;
width: 100%;
padding: 0px;
gap: 14px;
margin-bottom: 20px;
}
.input-wrap {
}
.modorder-input {
    box-sizing: border-box;
width: 295px;
height: 46px;
left: 0px;
top: 0px;
opacity: 0.3;
border: 1px solid #000000;
border-radius: 100px;
padding-top: 14px;
padding-bottom: 14px;
padding-left: 24px;
}
.modorder-textarea {
    width: 295px;
height: 132px;
left: 0px;
top: 180px;

opacity: 0.3;
border: 1px solid #000000;
border-radius: 20px;
padding-top: 14px;
padding-left: 24px;
}
.modorder-btn {
    display: flex;
flex-direction: row;
align-items: center;
padding: 12px 24px;
width: 92px;
height: 42px;
left: 20px;
top: 841px;
border: none;
background-color: var(--modal-submit);
border-radius: 100px;
color: var(--white-color);
}
@media only screen and (min-width: 375px) {
    .modorder {
      width: 335px;
    }
    .modorder-girl{
        display: none;
    }
  }
  @media only screen and (min-width: 768px) {
    .modal-order {  
      background-color: var(--white-color);
      background-image: url(../img/modal-order/girl-desk@1x.png);
      background-repeat: no-repeat;
      background-color: var(--white-color);
background-position-x: 409px;
background-position-y: bottom;
    }
    .modorder-input {
     width: 360px;
    }
    .modorder-textarea {
      width: 360px;
    }
  }