/* ======================= Modal your order ========================== */

/*======================= /Modal you order ========================== */
.modal {
}
.modorder {
    width: 335px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--white-color);
    border-radius: 20px;
    padding: 20px;
    justify-content: space-between;
}


.modorder-title {
    font-weight: 500;
font-size: 28px;
line-height: 1;
display: flex;
align-items: center;
letter-spacing: -0.04em;
text-transform: uppercase;
color: var(--red-color);
text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);margin-bottom: 57px;
}
.modal-close-btn {
    
    
}
.js-modal-close {
}
.modal-close-icon {
    stroke: var(--red-color); 
    width: 24px;
height: 24px;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0; 
}
.modorder-form {
    width: 100%;
}
.modorder-basket-list {
    row-gap: 12px;
}
.list {
}

.modorder-basket-item {
    border-radius: 20px; 
}
.modorder-strawberry{
    background: var(--pink-color);  
}
.modorder-apple{
    background: var(--modal-yellow);  
}
.modorder-fruits{
    background: var(--modal-green);  
}
.modorder-check {
}
.visually-hidden {
}
.modorder-lable {
    display: flex;
}
.modorder-lable-text{

}
.modorde-basket-item {
}
.modorder-basket-item {
}
.modorder-field {
}
.input-wrap {
}
.modorder-input {
}
.modorder-textarea {
}
.modorder-btn {
}
@media only screen and (min-width: 375px) {
    .modorder {
      width: 335px;
    }
    
  }