/* ======================= Modal your order ========================== */

/*======================= /Modal you order ========================== */
.modal {
    width: 335px;
}
.modorder {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--white-color);
    border-radius: 20px;
    padding: 20px;
    justify-content: space-between;
}


.modorder-title {
    font-weight: 500;
font-size: 28px;
line-height: 1;
display: flex;
align-items: center;
letter-spacing: -0.04em;
text-transform: uppercase;
color: var(--red-color);
text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);margin-bottom: 57px;
}
.modal-close-btn {
    
    
}
.js-modal-close {
}
.modal-close-icon {
    stroke: var(--red-color); 
    width: 24px;
height: 24px;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0; 
}
.modorder-form {
    width: 100%;
}
.modorder-basket-list {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    margin-bottom: 23px;
}
.list {
}

.modorder-basket-item {
    border-radius: 20px; 
    flex-direction: row;
    display: flex;
    align-items: flex-start;
    padding-top: 14px;
    padding-right: 14px;
}
.modorder-strawberry{
    background: var(--pink-color);  
}
.modorder-apple{
    background: var(--modal-yellow);  
}
.modorder-fruits{
    background: var(--modal-green);  
}
.modorder-check:checked + .modorder-lable::after {
    background-color:white;
    background-image: url(../img/modorder_img/pickcheck.svg); 
  background-repeat: no-repeat;
  background-position: center;
}
.visually-hidden {
}
.modorder-lable {
    display: flex;
    padding-left: 20px;
padding-bottom: 8px;
}
.modorder-lable::after{
    content: '';
    width: 16px;
    height: 16px;
    border: 1.5px solid #FFFFFF;
border-radius: 4px;
display: block;
}
.modorder-lable-text{
    display: flex;
    flex-direction: column;
    
    align-items: flex-start;
    

}
.modorde-basket-item {
}
.modorder-basket-item {
}
.modorder-field {
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 14px;
margin-bottom: 20px;
}
.input-wrap {
}
.modorder-input {
    box-sizing: border-box;
width: 295px;
height: 46px;
left: 0px;
top: 0px;
opacity: 0.3;
border: 1px solid #000000;
border-radius: 100px;
padding-top: 14px;
padding-bottom: 14px;
padding-left: 24px;
}
.modorder-textarea {
    width: 295px;
height: 132px;
left: 0px;
top: 180px;

opacity: 0.3;
border: 1px solid #000000;
border-radius: 20px;
padding-top: 14px;
padding-left: 24px;
}
.modorder-btn {
    display: flex;
flex-direction: row;
align-items: center;
padding: 12px 24px;
width: 92px;
height: 42px;
left: 20px;
top: 841px;
border: none;
background-color: var(--modal-submit);
border-radius: 100px;
}
@media only screen and (min-width: 375px) {
    .modorder {
      width: 335px;
    }
    .modorder-girl{
        display: none;
    }
  }