/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/

@import url('./fonts.css');
@import url('./reset.css');
@import url('./base.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./how-it-works.css');
@import url('./fruits.css');
@import url('./contacts.css');
@import url('./header.css');
@import url('./footer.css');
@import url('./modal.css');
@import url('./modal-your-order.css');
@import url('./modal-thank-you.css');
